button, input[type="submit"] {
  margin-top: 1rem;
}

body {
  background-repeat: no-repeat;
  background: url('cool-background.png')
}


h1 { color: #1E5FA6; font-family: 'Lato', sans-serif; font-size: 54px;
font-weight: 300; line-height: 58px; margin: 0 0 58px; vertical-align: text-top;}

label {
color: #1E5FA6;
font-weight: bold;
display: block;
width: 150px;
float: center;
font-size: large;
}
label:after { content: ": " }

.button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

#form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#players-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.players-list-item {
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.8rem;
  border: 1px solid #20437c;
  border-radius: 5%;
  background: #ddeaff;
}

h2{
   font-size: 150%
   font-weight: bold;
   color: #002291
}

h3{
   font-size: 150%
   font-weight: bold;
   color: #002291
}

p{
   font-size: 1000px
   font-weight: bold;
   color: #002291
}
